html{
  font-family: sans-serif;
  background-color: #99001f;
}

.container{
  max-width: 1100px;
  background-color: #edcad1;
  position: relative;
  margin: 40px 20px;
  padding: 10px 30px;
}

.bold{
  font-weight: bold;
}

.header{
  text-align: center;
}

.main-title{
  font-size: 45px;
  font-family: fantasy;
}
.main-paragraph{
  font-style: italic;
  font-size: 15px
}

.featured-image{
  text-align: center;
}

.image-side{
  text-align: right;
}
          
