html{
  font-family: sans-serif;
  background-color: #99001f;
}


.bold{
  font-weight: bold;
}

.header{
  text-align: center;
}

.main-title{
  font-size: 45px;

} 
.main-paragraph{
  font-style: italic;
  font-size: 15px
}

.featured-image{
  height: auto;
  padding: 20px;
  width: 1000px;

}

.bio-container{
  background-color: #e2b7c0;
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: -62px;
}

.image-side{
  text-align: right;
}
